@import '/src/styles/mixings';

.container{
  display: flex;
  justify-content: space-between;
  padding: 10rem 0;
@include breakpoints(mobile){
padding: 5rem 0 2.5rem;
flex-direction: column;
  }
  &__aboutMe{
    font-size: 32px;
@include breakpoints(mobile){
font-size: 22px;
}
  }
  &__text{
    width: 60vw;
    font-size: 24px;
    text-align: justify;
@include breakpoints(mobile){
width: 100%;
font-size: 16px;
text-align: left;
}
}
}

