.container{
  display: flex;
  justify-content: space-between;
  margin-top: 15rem;
  
  &__aboutMe{
    font-size: 32px;
  }
  &__text{
    width: 60vw;
    font-size: 24px;
    text-align: justify;
  }
}

@media only screen and (max-width: 400px){
  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5rem;
    
    &__aboutMe{
      font-size: 22px;
    }
    &__text{
      width: 100%;
      font-size: 16px;
      text-align: left;
    }
  } 
}