@import '/src/styles/mixings';

.container{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 10rem;
  background-color: rgba(0, 0, 0, 0.8);
@include breakpoints(mobile){
margin: 0 1rem;
}

  &__title{
    font-size: 25px;
 @include breakpoints(mobile){
font-size: 12px;
 }   
  }
  &__i{
    font-size: 32px;
    color: #549df5;
@include breakpoints(mobile){
font-size: 24px;
}
  }
}





