@import "/src/styles/mixings";
@import "/src/styles/animations";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  animation: myAnim 2s ease 0s 1 normal forwards;

  @include breakpoints(mobile) {
    padding-top: 70px;
  }
  &__titleBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    
    &__link {
      color: #0a66c2;
    }
    &__h5 {
      font-size: 30px;
      margin-top: 8rem;
      padding-bottom: 2rem;
      font-weight: 600;
      @include breakpoints(mobile) {
        font-size: 22px;
        padding-bottom: 1rem;
      }
    }

    @include breakpoints(mobile) {
      z-index: 2;
    }
    @include breakpoints(laptop) {
      z-index: 2;
    }
    &__h1 {
      font-size: 86px;
      margin-bottom: 2rem;
      line-height: 5rem;

      @include breakpoints(mobile) {
        font-size: 48px;
        line-height: 3rem;
      }
    }

    &__h3{
      border-bottom: 1px solid #0a66c2;
      transition: 0.5s;
    }
    &__h3:hover{
      transform: scale(1.08);
    }
  }
}
