@import '/src/styles/mixings';

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  @include breakpoints(mobile){
    padding-top: 70px;
}
  &__titleBox{
  @include breakpoints(mobile){
    z-index: 2;
}
  @include breakpoints(laptop){
    z-index: 2;
  }  

  h5{
    font-size: 30px;
    margin-top: 8rem;
    padding-bottom: 2rem;
    font-weight: 600;
     
    @include breakpoints(mobile){
      font-size: 22px;
      padding-bottom: 1rem;
}     
    }
  h1{
    font-size: 86px;
    margin-bottom: 2rem;
    line-height: 5rem;
      
    @include breakpoints(mobile){
      font-size: 48px;
      line-height: 3rem;
  }
}
    a{
      color: #549df5;
    }
  }
}

