@import "/src/styles/mixings";
@import "/src/styles/animations";

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 10rem 0;
  width: 100%;
  animation: myAnim 2s ease 0s 1 normal forwards;

  @include breakpoints(mobile) {
    flex-direction: column;
    padding: 5rem 0 2.5rem;
  }
  &__title {
    font-size: 32px;
    margin-bottom: 4rem;
    border-bottom: 2px solid #0a66c2;
   
    @include breakpoints(mobile) {
      margin-left: 20px;
      margin-bottom: 1rem;
    }
  }
  @include breakpoints(mobile) {
    margin-top: 3rem;
  }
  &__portfolioList {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 2rem;
    width: 60%;
    list-style: none;
    font-weight: bold;
    @include breakpoints(mobile) {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      list-style: none;
      padding: 1rem;
    }
    @include breakpoints(laptop) {
      width: 90%;
    }
    &__portfolio {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: left;

      @include breakpoints(mobile) {
        font-size: 16px;
      }
    }
  }
}

.link {
  display: flex;
  align-items: center;
  color: #0a66c2;
  font-weight: 600;
  margin-bottom: 1.5rem;
  font-size: 18px;
  line-height: 0;

  
}

.imgLink{
  margin-bottom: 1rem;
  &__img {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    border-radius: 10px;
    transition: 1.1s;
  }

  &__img:hover {
    transform: scale(1.08);
    @include breakpoints(mobile) {
      transform: scale(1.02);
    }
  }
}

.icon {
  font-size: 28px;
}

p {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
